@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --bg-dark: #212226;
  --light-grey: #e0dede;
  --green: #15cdcb;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
